.console {
    width: 100%;
    height: 100%;
    border:1px solid #999999;
    overflow-y: auto;
    padding: 3px;
    color: #eee;
    background-color: #1e1e1e;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}